@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-frost: #f2eef7;
  --color-petal: #ffe4ee;
  --color-blush: #e5b6cb;
  --color-mauve: #b489a9;
  --color-eggplant: #393043;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
